<app-componente1></app-componente1>


<div id="sup" class="item">ITSASOEN ALTXORRAK </div>
<div id="sup" class="item">{{title}}{{subtitle}}</div>

        <div class="container">
            <div class="item">
                <img src="/assets/img/caballito.jpg" alt=""/><p>Caballito de mar</p>
            </div>
            <div class="item"> <img src="/assets/img/estrella.jpg" alt=""/><p>Estrella de mar</p>
            </div>
            <div class="item">
                <img src="/assets/img/medusa.jpg" alt=""/><p>Medusa</p>
            </div>
            <div class="item">

                <img src="/assets/img/pez.jpg" alt=""/><p>Pez</p>
            </div>
            <div class="item">
                <img src="/assets/img/pulpo.jpg" alt=""/><p>Pulpo</p>
            </div>
            <div class="item">
                <img src="/assets/img/raya.jpg" alt=""/><p>Raya</p>
            </div>
            <div class="item">
                <img src="/assets/img/tiburon.jpg" alt=""/><p>Tiburon</p>
            </div>
            <div class="item">
                <img src="/assets/img/tortuga.jpg" alt=""/><p>Tortuga</p>
            </div>

        </div>

<router-outlet></router-outlet>
